# General
.DS_Store
.AppleDouble
.LSOverride
.launches
.settings

# Thumbnails
._*

# Actual project stuff

# GNU cruft
.cscode
*.o
*~
.#*
*#
settings.json

# PJIT generated code
cpu/ops/m68k_test
cpu/ops/*.s