# General
.DS_Store
.AppleDouble
.LSOverride
.launches
.settings

# Thumbnails
._*

# Actual project stuff
.vscode/

# GNU cruft
obj/
binaries/
.cscode
*.o
*.a
*~
.#*
*#
settings.json

# Graveyard
dead/

# PJIT generated code
cpu/ops/make_m68k
cpu/ops/pjit_extword.*
cpu/ops/*.s
/Debug/
